{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/react"
  ],
  "plugins": ["babel-plugin-transform-async-to-promises"]
}
